@import "../index.css";

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  background-color: var(--colorRojo);
  position: sticky;
  padding: 1rem 3rem;
}
.logo {
    width: 15%;
    border-radius:7px;
}
h2 {
    text-align: center;
    font-weight: bold;
}