* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  /* paleta de colores */
  --colorRojo: #C24947;
  --colorRojo2: #fd3a47;
  --colorCoralClaro: #fe6c76;
  --colorError: #7E2A6D;

  --colorNegro:  #111111;
  --colorGrisTopo: #4d4f4e;
  --colorAzul: #1C1745;
  --colorAzulClaro: #44349D;
  
  --colorGrisClaro: rgba(255, 255, 255, 0.87);
  --colorBlanco: #ffffff;
  
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color:var(--colorNegro);
  background-color: var(--colorGrisClaro);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--colorAzulClaro);
  text-decoration: inherit;
}
a:hover {
  color: var(--colorRojo);
}

/* body { */
  /* margin: 0; */
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
/* } */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--colorNegro);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--colorRojo);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--colorGrisClaro);
    background-color: var(--colorNegro);
  }
  a:hover {
    color: #e82333;
  }
  button {
    background-color: #f9f9f9;
  }
}